{% extends "layouts/base.html" %}

{% block title %}{% set title = taxonomy.name ~ '/' ~ term.name %}{% endblock %}
{% block description %}{% set description = term.name ~ ' tag' %}{% endblock %}

{% block pageheader %}
  <h1 class="page-title"><span class="subtle">{{taxonomy.name}}/</span>{{ term.name }}</h1>
{% endblock pageheader %}

{% block content %}
  <ul class="blogpost-list">
    {% for page in term.pages %}
      {% include "partials/blogpost.html" %}
    {% endfor %}
  </ul>
{% endblock content %}
