<div class="webring ctp">
  <a href="https://ctp-webr.ing/comfysage/previous">&larr;</a>
  <a href="https://ctp-webr.ing/"> catppuccin webring </a>
  <a href="https://ctp-webr.ing/comfysage/next">&rarr;</a>
</div>
<div class="webring sapphic">
  <a href="https://ring.sapphic.moe/comfysage/previous">&larr;</a>
  <a href="https://ring.sapphic.moe"> sapphic webring </a>
  <a href="https://ring.sapphic.moe/comfysage/next">&rarr;</a>
</div>
<div class="feed-info">
  feed:
  <a href="{{ get_url(path='/feed.xml') }}">atom</a>
  or
  <a href="{{ get_url(path='/rss.xml') }}">rss</a>
</div>
<div class="license-info">
  <a href="{{ get_url(path="/LICENSE.txt") }}">EUPL-1.2</a>
</div>
<div class="device-details">
</div>
<script>
function setDeviceDetails(e) {
  let {width, height} = e.currentTarget.screen;
  document.querySelector('.device-details').innerText = `${width}x${height}`
}
window.addEventListener('load', setDeviceDetails)
window.addEventListener('resize', setDeviceDetails)
</script>
