{% extends "layouts/base.html" %}
{% import "partials/toc.html" as toc %}

{% block title %}{% set title = page.title %}{% endblock %}
{% block description %}{% set description = page.description %}{% endblock %}

{% block pageheader %}
  <h1 class="page-title">{{ page.title }}</h1>
  <p class="subtitle subtle"><strong>{{ page.date }}</strong></p>
{% endblock pageheader %}

{% block content %}
  {{ page.content | safe }}
{% endblock content %}

{% block right %}
  {% if page.toc %}
  {{ toc::generate(toc=page.toc) }}
  {% endif %}
{% endblock right %}
