@use "../_variables/responsive.scss" as *;

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media not (min-width: $bp-desktop) {
  #root>#page .sidebar.right {
    flex-direction: row;
  }
}

@media (max-width: $bp-mobile) {
  #root>#page .sidebar.left {
    flex-direction: row;
    align-items: center;
    gap: 0;
  }
}

#header a {
  display: flex;
  align-items: center;

  .icon {
    height: 32px;
    aspect-ratio: 1/1;

    margin: .6rem;

    mask-image: url('/favicon.svg');
    mask-position: center;
    mask-size: contain;
    background-color: var(--special);
  }
}
