@use "../_variables/responsive.scss" as *;

@layer partials {
  .sidebar {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  #root>#page .sidebar .sidebar-search {
    @include onmobile() {
      display: none;
    }
  }

  @media not (min-width: $bp-desktop) {
    #root>#page .sidebar.right {
      flex-direction: row;
    }
  }

  .sidebar.left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  #header a {
    display: flex;
    align-items: center;

    .icon {
      height: 32px;
      aspect-ratio: 1/1;

      margin: .6rem;

      mask-image: url('/favicon.svg');
      mask-position: center;
      mask-size: contain;
      background-color: var(--special);
    }
  }
}
