@use "../_variables/responsive.scss" as *;

@layer partials {
  .sitename {
    display: flex;
    justify-content: space-between;

    a {
      color: var(--subtext1);
    }

    :first-child {
      flex-grow: 1;
    }

    padding: 0 0 1rem;

    .navbar {
      display: none;

      @include onmobile() {
        display: inline;
      }

      ul {
        flex-direction: row;
        padding: 0;
        border: 0;
        background: none;

        li:nth-child(1) {
          display: none;
        }
      }
    }

    #modetoggle {
      display: inline-block;
      height: 1.2rem;

      cursor: pointer;

      svg {
        display: none;
        height: 100%;
        aspect-ratio: 1;
        fill: var(--text);

        @media (prefers-color-scheme: dark) {
          &[prefers=dark] {
            display: revert;
          }
        }

        @media (prefers-color-scheme: light) {
          &[prefers=light] {
            display: revert;
          }
        }

        html[dark] &[prefers=light] {
          display: none;
        }

        html[dark] &[prefers=dark] {
          display: revert;
        }

        html[light] &[prefers=dark] {
          display: none;
        }

        html[light] &[prefers=light] {
          display: revert;
        }
      }
    }
  }
}
