@mixin colors-dark {
  --red: #f57f82;
  --orange: #f7a182;
  --yellow: #f5d098;
  --lime: #dbe6af;
  --green: #cbe3b3;
  --aqua: #b3e3ca;
  --skye: #b3e6db;
  --snow: #afd9e6;
  --blue: #b2caed;
  --purple: #d2bdf3;
  --pink: #f3c0e5;
  --cherry: #f6cee5;
  --text: #f8f9e8;
  --subtext1: #adc9bc;
  --subtext0: #96b4aa;
  --overlay2: #839e9a;
  --overlay1: #6f8788;
  --overlay0: #58686d;
  --surface2: #4a585c;
  --surface1: #374145;
  --surface0: #262f33;
  --base: #1e2528;
  --mantle: #191e21;
  --crust: #171c1f;
}

@mixin colors-light {
  --red: #C58687;
  --orange: #C69883;
  --yellow: #C4AA80;
  --lime: #ABB182;
  --green: #91A77A;
  --aqua: #74A48B;
  --skye: #74A39A;
  --snow: #7799A3;
  --blue: #8294AD;
  --purple: #A897B8;
  --pink: #C499B8;
  --cherry: #C29FB2;
  --text: #2B3034;
  --subtext1: #455355;
  --subtext0: #576869;
  --overlay2: #707D76;
  --overlay1: #829084;
  --overlay0: #A3AB9B;
  --surface2: #C2C6B3;
  --surface1: #EDEAD8;
  --surface0: #F2EDDC;
  --base: #F5EFE6;
  --mantle: #F0EAE4;
  --crust: #E8E0D5;
}

@layer theme {
  @media (prefers-color-scheme: dark) {
    html {
      @include colors-dark;
    }
  }

  html[dark] {
    color-scheme: dark;
    @include colors-dark;
  }

  @media (prefers-color-scheme: light) {
    html {
      @include colors-light;
    }
  }

  html[light] {
    color-scheme: light;
    @include colors-light;
  }

  // defaults
  :root {
    @include colors-dark;
  }

  :root {
    --default-border: var(--surface1);
    --special: var(--green);
  }
}

// functions
$border: var(--border, var(--default-border));
